* {
	box-sizing: border-box;
}

header {
	width: 100%;
	padding-top: 2vw;
	padding-bottom: 2vw;
	text-align:center;
	background-color: lightgray;
	font-size: 4vw;
	color: white;
}

nav{
	width:100%;
	font-size: 3vw;
	background-color: lightgray;
	position:sticky;
	top:0px;
	z-index:5;
}

.menuItem{
	display: inline-block;
	padding:3px 3px 3px 3px;
	position: relative;
}

.subMenu {
	box-shadow: 0 7px 10px 0 rgba(0.3, 0, 0, 0.2), 0 8px 24px 0 rgba(0.3, 0, 0, 0.19);
	padding: 3px 5px 3px 2px;	
	height:100%;	
}
.subMenu:hover{
                   animation: scanMenu 0.5s ease-in 0s 1 normal;
}


@keyframes scanMenu{
/*

       0% { background-image: lightgray;}
      25%{background-image: radial-gradient(closest-side at 50% 50%, lightgray,darkgray, lightgray);}
      50%{background-image: radial-gradient(farthest-side at 50% 50%, lightgray,darkgray, lightgray);}
      75%{background-image: radial-gradient(closest-corner at 50% 50%, lightgray,darkgray, lightgray);}
      100%{background-image: radial-gradient(fathest-corner at 50% 50%, lightgray,darkgray, lightgray);}
*/
       0% { background-image: lightgray;}
      15%{background-image: linear-gradient(90deg, lightgray,lightgray,lightgray,lightgray, lightblue);}
      25%{background-image: linear-gradient(90deg, lightgray,lightgray,lightgray,lightblue, lightgray);}
      35%{background-image: linear-gradient(90deg, lightgray,lightgray,lightblue, lightgray,lightgray);}
      45%{background-image: linear-gradient(90deg, lightgray,lightblue, lightgray,lightgray,lightgray);}
      55%{background-image: linear-gradient(90deg, lightblue,lightgray,lightgray,lightgray, lightgray);}
      65%{background-image: linear-gradient(90deg, lightgray,lightblue,lightgray,lightgray, lightgray);}
      75%{background-image: linear-gradient(90deg, lightgray,lightgray,lightblue, lightgray,lightgray);}
      85%{background-image: linear-gradient(90deg, lightgray,lightgray, lightgray,lightblue,lightgray);}
     100%{background-image: linear-gradient(90deg, lightgray,lightgray, lightgray,lightgray,lightblue);}

}



.dropdownMenu {
//	display: none;  /* display property does not work properly with transition  using visibility property instead*/
	visibility: hidden;
	opacity:0;
	position: absolute;
	width:100%;
	background-color: lightgray;
	padding-left: 3px;
	padding-right: 3px;
	padding-top:5px;
	color: blue;
	box-shadow: 0 7px 10px 0 rgba(0.3, 0, 0, 0.2), 0 8px 24px 0 rgba(0.3, 0, 0, 0.19);
}

.menuItem:hover .dropdownMenu {
//	display: block; /* display property does not work properly with transition  using visibility property instead*/
	visibility: visible;
	opacity:1;
	z-index: 5;
                  	transition: opacity 0.4s, visibility 0.4s;
	transition-timing-function: ease-in;
}

.dropdownMenu > ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


#aboveMain{
	height:5px;

}
main{
	width:100%;
	border:2px double blue;
	height:auto;
}


aside{
	float:left;
	width:20%;
}

.leftFilter{
	width:100%;
	position:relative;
}

.filter1{
	position: absolute;
	top:0vw;
	left:0.2vw;
	width:19vw;
	box-shadow: 0 7px 10px 0 rgba(0.3, 0, 0, 0.2), 0 8px 24px 0 rgba(0.3, 0, 0, 0.19);
}

article{
	float: left;
	width: 80%;
}

.myPage{
	display:grid;
	grid-template-columns: 23% 23% 23% 23%;
	grid-column-gap:2%;
	grid-row-gap: 1.6vw;
	justify-content: space-evenly;
	align-content:space-evenly;
}

/* to help display the border, since it uses "float" property */
main::after{
	content: "   ";
	clear:both;
	display:block;
}



.imageCard{
	border: 2px solid lightgray;	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productTitle{
	font-size: 2vw;
	width:100%;
}

.productImage{
	width:100%;
	border-top:1px solid gold;
	border-bottom:1px solid gold;
}

.productDescription
	width:100%;
	font-size: 2vw;
}


.pagination {
	width:100%;
	//display: inline-block;
	
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}