*{
	box-sizing: border-box;
}

header{
	background-color: lightgray;
	width:100%;
	padding-top: 1vw;
	padding-bottom: 1vw;
	font-size: 4vw;
	color: white;	
	text-align:center;
}

.topNav{
	background-color:lightgray;
	width:100%;
	font-size: 2vw;
`	color: green;
}
.topMenu{
	display: inline-block;
	padding-left: 1vw;
	padding-right: 2vw;
	padding-bottom: 1vw;
	border: 2px solid green;
}

main{
	width:100%;
	border: 1px solid green;
	margin-top: 0.2vw;
//	display: float;
}


#option{
	width:20%;
	float: left;
	display:flex;
	flex-direction:column;
	//flex-wrap: none;
	justify-content: space-evenly;
	align-content: space-evenly;
	align-items: flex-start;
}

.filters{
	margin-bottom: 0.5vw;
	padding-bottom: 1vw;
	border-top: 2px double green;
//	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

//	flex-grow: 0px;
//	flex-shrink:0px;
//	flex-basis: 0px;
}

#productShow{
	width:80%;
	padding-left: 2px;
	padding:right:2px;
	border-left: 2px solid green;
	float:left;
}

.myPage{
	display: grid;
	grid-template-columns: 23% 23% 23% 23%;
	grid-column-gap:2%;
	grid-row-gap:1.6vw;
	justify-content: space-evenly;
	algin-content: space-evenly;
}

.productCard{
	border:2px solid lightgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:100%;
}

.productTitle{
	width:100%;
}
.productImage{
	width:100%;
}
.productDesc{
	width:100%;
}


main::after{
	content:" ";
	display:block;
	clear:both;

}

.pagination {
	width:100%;
	//display: inline-block;
	
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

